.heading {
    color: red;
  }

.paris_p {
    color:beige
}

#London_header {
    background-color: pink;
}
html {
    scroll-behavior: smooth
}

#Lorem_Ipsum {
    padding: 0 5px;
    border-top: 2px solid black ;
    border-bottom: 4px solid gray;
}

#Lorem_P {
    margin: 5px;
    border: 10px ridge #90EE90;
}